			body{
				text-align:center;

				
				}
				
			#demo1{
				margin-top:100px;
				color:red;
				}
			
			audio{
				width:700px;
		
				
				}
				
			img{
				width:250px;
				}
			h1{
				
				font-weight:bold;
				padding-left:0;
				padding-right:0;
				word-spacing:8px;
				
				}

			input{
				
				margin-bottom:15px;
				width:250px;
				}
			p{
				margin-bottom:0px;
				color:black;
				}

		
			
			
				
			
				
			
				
				
			
			
